<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      WellRead
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="author-hero">
    <ion-avatar class="author-avatar">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <h1 class="author-name">Henrique Siano</h1>
    <p class="author-role">33393</p>
  </div>

  <ion-list lines="full" class="author-details">
    <ion-item>
      <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        28/05/2005
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="location-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        Barcelos, Portugal
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        sianohenrique@gmail.com
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
