<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Navegar" href="/tabs/Navegar">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>Navegar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Biblioteca" href="/tabs/Biblioteca">
      <ion-icon aria-hidden="true" name="bookmarks-outline"></ion-icon>
      <ion-label>Biblioteca</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Favoritos" href="/tabs/Favoritos">
      <ion-icon aria-hidden="true" name="heart-outline"> </ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Perfil" href="/tabs/Perfil">
      <ion-icon aria-hidden="true" name="person-outline"> </ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
