<ion-header [translucent]="true">
  <ion-toolbar>
    <custom-toolbar></custom-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment scrollable="true">
    @for (status of getBookStatus(); track status) {
      <ion-segment-button [value]="status">
          <ion-label>{{ status }}</ion-label>
        </ion-segment-button>
    }
  </ion-segment>

  <ion-list>
    @for (book of getBooks(); track book.id) {
      <ion-item button (click)="openBook(book.id)">
        <ion-thumbnail slot="start" class="book-cover">
          <img [src]="book.cover" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ book.title }}</h2>
          <p>{{ book.author }}</p>
          @if (book.userInteraction.score > -1) {
            <p>{{ book.userInteraction.score }}/5</p>
          }
          @if (book.userInteraction.actualPageNumber > 0) {
            <p>{{ book.userInteraction.actualPageNumber }}/{{book.pages}}</p>
            <ion-progress-bar type="determinate" [value]="book.userInteraction.actualPageNumber / book.pages"></ion-progress-bar>
          }
        </ion-label>
        <ion-button slot="end" (click)="openSheet(book); $event.stopPropagation()">
          <ion-icon name="create-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    }
  </ion-list>


  <!--
  <swiper-container slides-per-view="3.5" space-between="0" free-mode="true">
    @for (status of getBookStatus(); track status) {
      <swiper-slide>
        <ion-segment-button [value]="status">
          <ion-label>{{ status }}</ion-label>
        </ion-segment-button>
      </swiper-slide>
    }
  </swiper-container>
  -->
</ion-content>
