<ion-header [translucent]="true">
  <ion-toolbar>
    <custom-toolbar></custom-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="search-block">
    <ion-searchbar class="searchbar" placeholder="Pesquisar"></ion-searchbar>
    <ion-button class="filter" id="filter" shape="round">
      <ion-icon slot="icon-only" name="filter"></ion-icon>
    </ion-button>
    <ion-action-sheet trigger="filter" header="Actions" [buttons]="getActionSheetButtons()"></ion-action-sheet>
  </div>
  
  <div>
    <ion-title>
      Populares
    </ion-title>
    <swiper-container slides-per-view="2.2" space-between="8" free-mode="true">
      @for (book of getBooks(); track book.title) {
        <swiper-slide>
          <book-card [id]="book.id" [title]="book.title" [cover]="book.cover" [author]="book.author"></book-card>
        </swiper-slide>
      }
    </swiper-container>
  </div>

  <div>
    <ion-title>
      Recentes
    </ion-title>
    <swiper-container slides-per-view="2.2" space-between="8" free-mode="true">
      @for (book of getBooks(); track book.title) {
        <swiper-slide>
          <book-card [id]="book.id" [title]="book.title" [cover]="book.cover" [author]="book.author"></book-card>
        </swiper-slide>
      }
    </swiper-container>
  </div>

  <div>
    <ion-title>
      Recomendados
    </ion-title>
    <swiper-container slides-per-view="2.2" space-between="8" free-mode="true">
      @for (book of getBooks(); track book.title) {
        <swiper-slide>
          <book-card [id]="book.id" [title]="book.title" [cover]="book.cover" [author]="book.author"></book-card>
        </swiper-slide>
      }
    </swiper-container>
  </div>
</ion-content>
